@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0px;    
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto',sans-serif;
}
:root{
    --Azul: #030231e8;
    --Vermelho: #e60404;
    --Branco:#f1f1f1;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 500px;
    background: var(--Azul);
}
.content{
    max-width: 1000px;
    min-width:  300px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    padding: 10px;
}
nav{
    width: 100%;
    height: 125px;
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.brand{
    font-size: 24px;
    color: var(--Branco);
    cursor: pointer;
}
nav ul{
    display:flex ;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
nav ul li a{
    color: var(--Branco);
    text-decoration: none;  
}
nav ul li a:hover{
    color: #e6040483;
}
.content .header-block{
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--Vermelho);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0,0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0,0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
} 
.header-block img{
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.header-block .text{
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header-block .text h1{
    color: var(--Branco);
    margin-bottom: 100px;
    text-align: right;
    transform: translateX(-100px);
    transition: transform 0.5s;
}
.header-block .text p{
    font-size: 25px;
    max-width: 300px;
    color: white;
    text-align: left;
    transform: translateX(-100px);
    transition: transform 0.4s;
}
/* Produtos do Catalogo */

section.catalogo{
    width: 100vw;
    padding: 100px;
}
section.filter-card{
    width: 1000px;
    height: 150px;
    background-color: rgb(7, 6, 99);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-input{
  width: 700px;
  height: 50px;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}
.search-button{
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--Azul);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.3s ease;
}
.search-button:hover{
    background: rgb(209, 8, 8);
    color: rgb(27, 155, 214);
}
.title-wrapper-catalogo{
    margin-top: 200px;
    padding-bottom: 20px;
}
section .card-wrapper{
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 30px;
    padding: 50px;
}
section .card-item{
    height: auto; /* 400px; */
    background: rgba(228, 228, 228, 0.363);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;/* justify-content: space-around; */ 
}
.card-content{
    height: auto; /* 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;/* justify-content: space-around; */ 
}
.card-item img{
    width: 85%;
    height: auto;/*Adicionei*/
    max-height: 160px; /*Adicionei*/
    object-fit: contain; /*Adicionei*/
}
.card-item h4{
    width: 90%;
}
.card-item p{
    width: 90%;
    font-style: italic;
    color:#000000;    
}
.card-item button{
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--Vermelho);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    /* margin-bottom: 10px; */
}
.card-item button:hover{
    background: #dedede;
    color: var(--Vermelho);
}
/*Sobre*/
.sobre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;  
}
.sobre-content{
    max-width: 1000px;
    min-height: 300px;
    height: 600px;
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left{
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;
}
.right{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;   
}
.right h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}
.right p{
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(0,0,0,0.4);
}

/*Features*/
.features{
    width: 100%;
    height: 100%;
    background: var(--Vermelho);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;    
}
.title-wrapper-features{
    color: var(--Branco);
    padding: 20px 0px;
}
.frature-card-block{
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr) );
    grid-gap: 30px;
}
.frature-card-item{
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border: 1px solid #dedede3b;
    border-radius: 4px;
}
.feature-text-content{
    color: var(--Branco);
    max-width: 60%;
    margin: 5px;   
}
.frature-card-item img{
    width: 64px;
    height: 64px;
}

/*Footer*/
footer{
    width: 100%;
    height: 250px;
}
footer.main{
    width: 100%;
    height: 200px;
    background-color: var(--Azul);
    padding: 20px 10px;
}
.footer-links{
    max-width: 1000px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-company,
.footer-rental, 
.footer-contact,
.footer-social{
    height: 100%;
    min-height: 100px;
}
.footer-links h4{
    margin-bottom: 10px;
}
.footer-links h6{
    margin-bottom: 8px;
}
.main .footer-social img{
    width: 32px;
    height: 32px;
}
footer .last{
    width: 100%;
    height: 50px;
    background: var(--Azul);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Responsive adjustmeents */
@media (max-width: 576px){
    nav ul li{
        position: relative;
        left: -25px;
        
    }
    .header-block img{
        width: 40%;
        position:absolute;
        right: 10%;
        top: 65%;
    }
    .header-block .text{
        position: relative;
        bottom: -10%;
        left: 25%;
    }
    section.catalogo{
        padding: 10px;

    }
    section .filter-card{
        width: 10px;
        padding: 0px 10px;
    }
    .search-input{
        max-width: 300px;
        min-width: 240px;
    }
    .search-button{
        max-width: 150px;
        min-width:  80px;
    }
    .sobre{
        margin-top: 100px;
    }
    .title-wrapper-sobre{
        margin-bottom: 20px;
    }
    
    .sobre-content{
        flex-direction: column;
        height: 100%;
    }
    .left{
        display: none;
    }
    .right{
        width: 90%;
    }
    .right p{
        width: 100%;
        margin: 0px;
        text-align: left;
    }
    .features{
        height: 100%;
    }
    .frature-card-block{
        height: 100%;
        display:flex ;
        flex-direction: column;
    }
    footer{
        height: 100%;
    }
    footer .main{
        height: 100%;
    }
    .footer-links{
        flex-direction: column;
        padding-left: 10%;
    }
}